{% extends "portfolio/base.html" %}
{% block content %}
<h2>Competências</h2>

{% if request.user.is_authenticated and request.user.groups.filter(name='gestor-portfolio').exists %}
<a href="{% url 'nova_competencia' %}"><button>+ Nova Competência</button></a>
{% endif %}

<section>
    {% for comp in competencias %}
    <article>
        <header>
            <h3>{{ comp.nome }}</h3>
            <p>Nível: {{ comp.nivel }}</p>
        </header>
        <section>
            <h4>Tecnologias</h4>
            <ul>
                {% for tec in comp.tecnologias.all %}
                    <li>{{ tec.nome }}</li>
                {% endfor %}
            </ul>
        </section>
        {% if request.user.is_authenticated and request.user.groups.filter(name='gestor-portfolio').exists %}
        <a href="{% url 'edita_competencia' comp.id %}"><button>Editar</button></a>
        <a href="{% url 'apaga_competencia' comp.id %}"><button>Apagar</button></a>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endblock %}