{% extends "portfolio/base.html" %}
{% load portfolio_extras %}
{% block content %}
<h2>Formações</h2>

{% if request.user|is_gestor %}
<a href="{% url 'nova_formacao' %}"><button>+ Nova Formação</button></a>
{% endif %}

<section>
    {% for formacao in formacoes %}
    <article>
        <header>
            <h3>{{ formacao.nome }}</h3>
            <p>{{ formacao.instituicao }} — {{ formacao.data_inicio }}</p>
        </header>
        <section>
            <p>{{ formacao.descricao }}</p>
        </section>
        {% if request.user|is_gestor %}
        <a href="{% url 'edita_formacao' formacao.id %}"><button>Editar</button></a>
        <a href="{% url 'apaga_formacao' formacao.id %}"><button>Apagar</button></a>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endblock %}