{% extends "portfolio/base.html" %}
{% block content %}
<h2>Formações</h2>
<a href="{% url 'nova_formacao' %}"><button>+ Nova Formação</button></a>
<section>
    {% for formacao in formacoes %}
    <article>
        <header>
            <h3>{{ formacao.nome }}</h3>
            <p>{{ formacao.instituicao }} — {{ formacao.data_inicio }}</p>
        </header>
        <section>
            <p>{{ formacao.descricao }}</p>
        </section>
        <a href="{% url 'edita_formacao' formacao.id %}"><button>Editar</button></a>
        <a href="{% url 'apaga_formacao' formacao.id %}"><button>Apagar</button></a>
    </article>
    {% endfor %}
</section>
{% endblock %}