{% extends "portfolio/base.html" %}
{% block content %}
<h2>Projetos</h2>

{% if request.user.is_authenticated and request.user.groups.filter(name='gestor-portfolio').exists %}
<a href="{% url 'novo_projeto' %}"><button>+ Novo Projeto</button></a>
{% endif %}

<section>
    {% for projeto in projetos %}
    <article>
        <header>
            <h3>{{ projeto.nome }}</h3>
            <p>{{ projeto.unidade_curricular.nome }} — {{ projeto.ano }}</p>
        </header>
        <section>
            <h4>Tecnologias</h4>
            <ul>
                {% for tec in projeto.tecnologias.all %}
                    <li>{{ tec.nome }}</li>
                {% endfor %}
            </ul>
        </section>
        {% if request.user.is_authenticated and request.user.groups.filter(name='gestor-portfolio').exists %}
        <a href="{% url 'edita_projeto' projeto.id %}"><button>Editar</button></a>
        <a href="{% url 'apaga_projeto' projeto.id %}"><button>Apagar</button></a>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endblock %}