{% extends "portfolio/base.html" %}
{% block content %}
<h2>Tecnologias</h2>
<a href="{% url 'nova_tecnologia' %}"><button>+ Nova Tecnologia</button></a>
<section>
    {% for tec in tecnologias %}
    <article>
        <header>
            <h3>{{ tec.nome }}</h3>
            <p>{{ tec.categoria }} — Interesse: {{ tec.nivel_interesse }}/5</p>
        </header>
        <section>
            <p>{{ tec.descricao }}</p>
        </section>
        <a href="{% url 'edita_tecnologia' tec.id %}"><button>Editar</button></a>
        <a href="{% url 'apaga_tecnologia' tec.id %}"><button>Apagar</button></a>
    </article>
    {% endfor %}
</section>
{% endblock %}